.introduce_title {
  margin-top: 200px;
  font-size: 9.72222rem;
  color: #fff;
  text-align: center;
}

.introduce_text {
  font-size: 1.75rem;
  letter-spacing: 0.06944rem;
  line-height: 1.25rem;
  margin-top: 3.47222rem;
  color: #fff;
  text-align: center;
}
